#backColMain, #about{
    background-color: #afb5b4 !important;
}
.btn-circle.btn-sm {
    border: #000000 1px solid;
    width: 28px; 
    height: 28px; 
    border-radius: 15px; 
    margin-bottom: 8px;
    margin-right: 12px;
}

#jacketImg {
    width: 400px;
}
::ng-deep .ngxImageZoomContainer > img{
    max-width: 450px !important;
}

::ng-deep .ngxImageZoomFullContainer.ngxImageZoomLensEnabled{
    border: 1px transparent !important;
    width: 180px !important;
    height: 180px !important;
    border-radius: 100px !important;
}
#models {
    border: #afb5b4 1px solid;
    width: 28vh;
    border-radius: 25px;
    font-size: 1.25rem !important;
}
.activeBtn {
    background-color:#a0a0a0;
}
#sizes {
    border: #afb5b4 1px solid;
    background-color: white;
    width: 38px;
    border-radius: 10px;
    margin-right: 10px;
}
#borderUl{
    border: #afb5b4 solid 1px;
    padding: 5px;
    border-radius: 15px;
}