@media (min-width: 576px){
    .clean-block.clean-hero {
        min-height: 300px !important;
    }
}
a.nostyle{ 
    color: inherit;
    text-decoration: none;
}
#card{
    transition: 700ms ease-in-out;
    transform: scale(1);
}
#card:hover{
    transition: 700ms ease-in-out;
    transform: scale(1.05);
}