.flotante{
    position: fixed; 
    bottom: 0px; 
    right: 0px; 
    margin-right: 25px;
    margin-bottom: 25px;
    background-color: #1a252f;
}
#emptydiv{
    padding: 42px;
}

@media (max-width: 576px){
    #emptydiv{
        padding: 32px;
    }
    .footer-copyright{
        padding-left: 15px;
        padding-right: 15px;
    }
}

.btn-circle.btn-md {
    width: 60px; 
    height: 60px; 
    border-radius: 35px; 
    font-size: 38px; 
    padding: 0px 0px;
}
#footerp h4, #footerp p{
    color: white;
}
#footerp h4{
    font-weight: 700;
}
#social, #whats-icon{
    margin-right: 0 !important;
}
small{
    color: white;
}
#whats-icon {
    color: #1cdc60;
}
.btn-social {
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    line-height: 2rem;
    border-width: 2px
}
