<!-- 
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
-->
<div id="emptydiv"></div>
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar" id="nav">
  <div class="container"><a class="navbar-brand logo" href="#">SURVIVOR</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/home" routerLinkActive="active">Inicio</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/catalog" routerLinkActive="active">Catalogo</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/about" routerLinkActive="active">Nosotros</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/faq" routerLinkActive="active">FAQ</a></li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<div>
  <button type="button" class="btn btn-circle btn-md flotante">
    <a target="_blank" href="https://wa.me/573059018099?text=Hola%2C+Estoy+interesado+en+las+chaquetas">
      <i class="fa fa-whatsapp fa-fw" id="whats-icon"></i>
    </a>
  </button>
</div>
<footer class="page-footer dark">
  <div class="container">
    <div class="row" id="footerp">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <h4 class="text-uppercase">Redes sociales</h4>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" href="#">
              <i id="social" class="fa fa-facebook fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item"></li>
          <li class="list-inline-item"></li>
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" href="#">
              <i id="social" class="fa fa-instagram fa-fw"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-lg-6 col-xl-6"> 
        <h4 class="text-uppercase mb-4">Horario de atención</h4>
        <p class="lead mb-0"><span>Domingo a Domingo 24 Horas</span></p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <small>© Survivor 2020 - Todos los derechos reservados - Creada por Johann Felipe Rojas</small>
  </div>
</footer>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
  <script src="assets/js/smoothproducts.min.js"></script>
  <script src="assets/js/theme.js"></script> -->
  