<section class="clean-block clean-info dark">
  <div class="container">
    <div class="block-heading">
      <h2 class="text-info">Info</h2>
      <p>Somos unos manes re melos que trabajan haciendo chaquetas, este es un emprendimiento y ha progresado entonces toca poner algo aqui referente a eso hahaa</p>
    </div>
    <div class="row align-items-center">
      <div class="col-md-6"><img class="img-thumbnail" src="assets/img/safe.png"></div>
      <div class="col-md-6">
        <h3>Lorem impsum dolor sit amet</h3>
        <div class="getting-started-info">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h2 class="text-uppercase text-center text-secondary mb-0">ConTÁCTANOS</h2>
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <form id="contactForm" name="sentMessage" novalidate="novalidate">
          <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2"><label>Name</label><input class="form-control" type="text" id="name" required="" placeholder="Nombre"><small class="form-text text-danger help-block"></small></div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2"><label>Email Address</label><input class="form-control" type="email" id="email" required="" placeholder="Correo"><small class="form-text text-danger help-block"></small></div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2"><label>Phone Number</label><input class="form-control" type="tel" id="phone" required="" placeholder="Numero celular"><small class="form-text text-danger help-block"></small></div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-5 pb-2"><textarea class="form-control" id="message" required="" placeholder="Mensaje" rows="5"></textarea><small class="form-text text-danger help-block"></small></div>
          </div>
          <div id="success"></div>
          <div class="form-group"><button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Enviar</button></div>
        </form>
      </div>
    </div>
  </div>
</section>